* {
  font-family: sans-serif;
}

.itemcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 12;
}

.item {
  background-color: gray;
  padding: 6px;
  width: 30%;
}

.highlight {
  background-color: #f1c40f;
}

@media screen and (max-width: 768px) {
  .item {
    width: 80% !important;
  }
}
